*.so
*.dylib
*.test
*.out
*.sh
*.py
*.csv
*.json
*.toml
.*.sw?
.sw?
.DS_Store
*.retry
tmp*
*tmp
/vendor/
*.orig
.idea
tests/*/*/coverage/
.*vimrc
/.release-it.json
/go.local.mod
/go.local.sum
/.vscode
.envrc
.golangci.excludes.txt
